@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF972C;
}
#contact {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-column: 1fr 5fr;
    grid-row: auto auto;
    grid-template-areas: 'header header' 'sidebar main';
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    background-color: #232D33;
}
.container {
    padding: 10px;
}
.contact-header {
    display: grid;
    justify-content: center;
    grid-area: header;
}
.nama {
    font-weight: 400;
    color: #FEFFFB;
    border-bottom: 1px gold solid;
}
.contact-sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-sidebar > * {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border-top: 3px gold solid;
    background-color: #404040;
    color: #FEFFFB;
}
.contact-main {
    display: flex;
    justify-content: center;
    grid-area: main;
}
.peta {
    width: 24em;
    height: 15em;
    background-color: gray;
    margin: auto;
    border: .5em solid gold;
    border-radius: 5px;
}
@media screen and (max-width: 830px) {
    #contact {
        width: 95%;
        grid-template-areas: 'header' 'main' 'sidebar';
        border-radius: 15px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        background-color: #232D33;
    }
    .peta {
        width:100%;
    }
}
